.main-container {
  width: 300px;
  height: auto;
  border: solid black 1px;
  margin: auto;
  background-color: rgb(50, 50, 50);
  padding-top: 20px;
  border-radius: 10px;
}

.display-area {
  width: 88%;
  height: 80px;
  border: solid black 1px;
  margin: auto;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.display-output {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.button-area {
  width: 88%;
  height: 320px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
}

.button {
  color: white;
  background-color: rgb(80, 80, 80);
  padding: 16px 8px;
  margin: 4px;
  text-align: center;
  border: solid 1px antiquewhite;
  border-radius: 8px;
}

.button:hover {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}
